body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

.logo {
    font-size: 90px;
    margin-bottom: auto;
    color: #7289DA;
}

.container {
    position: relative;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.header {
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.discord-btn {
    display: inline-block;
    width: 140px;
    margin: 0 3px;
    padding: 10px 20px;
    background-color: #7289DA;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.discord-btn:hover {
    background-color: #677BC4;
}

.discord-btn i {
    margin-right: 8px;
}

.discord-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.discord-btn.disabled i {
    color: #d3d3d3;
}

.credits {
    text-align: center;
    margin-top: 25px;
    color: #999;
    margin-top: 100px;
}

.credits-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.credit-box {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 8px;
    width: 100%;
    max-width: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.credit-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.credit-box .info {
    flex-grow: 1;
    text-align: left;
}

.credit-box .info h3 {
    margin: 0;
    font-size: larger;
}

.credit-box .info p {
    margin: 5px 0;
    color: #bbb;
}

.credit-box .info a {
    color: #7289DA;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.credit-box .info a:hover {
    color: #677BC4;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
}

.feature-box {
    flex: 1;
    max-width: calc(33.33% - 20px);
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-box:hover {
    transform: translateY(-5px);
}

.feature-box h3 {
    color: #7289DA;
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-box p {
    color: #ccc;
    margin-top: 0;
}

.icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #7289DA;
}

@media (max-width: 992px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    border-radius: 6px;
    border: 3px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

.navbar {
    width: 100%;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
}

.navbar-logo {
    color: #7289DA;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background 0.3s, color 0.3s;
}

.navbar-link:hover {
    background: #333;
    color: #7289DA;
}

body {
    padding-top: 60px;
}

.hero {
    width: 100%;
    padding: 100px 20px;
    background: linear-gradient(to bottom right, #121212, #1e1e1e);
    text-align: center;
    color: #fff;
    position: relative;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.hero .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero .btn:hover {
    background-color: #222121;
}


.welcome .btn:hover {
    background-color: #e65c00;
}

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: #121212;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    border-top: 1px solid #333;
}

.footer p {
    margin: 0;
}

.footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0 0 0;
}

.footer-item {
    margin: 0 15px;
}

.footer-link {
    color: #7289DA;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #fff;
}
  
.inner-headings {
  border: 0px solid #ddd;
  height: 50px;
  line-height: 50px;
  font-size: 45px;
  overflow: hidden;
  margin-bottom: 50px;
}
  
.inner-headings span {
    position: relative;
    color: #7289DA;
    animation: animation 10s ease infinite;
}
  
@keyframes animation {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    25% {
      top: -50px;
    }
    45% {
      top: -50px;
    }
    50% {
      top: -100px;
    }
    70% {
      top: -100px;
    }
    75% {
      top: -150px;
    }
    95% {
      top: -150px;
    }
}
